// .ck-team{ padding: 100px 0 200px 0; background-image: url(../img/background/company-sc-top.png);
//     .cover{width: 530px; padding-top: 447px;}
//     .cover2{width: 510px; padding-top: 0px;z-index: 2;}
//     .content{
//         h2 {font-size: 30px;font-weight: var(--fw-bold);color: var(--color-primary);}
//         .desc{font-size: var(--typo-sm);}
//     }
//     .container {padding: 100px 0 100px 0;}
//     .container > .row {-webkit-box-pack: justify;}
//     .container .col-auto .thumbnail-wrapper .graphic{height: 100%;}
//     img {vertical-align: middle;border-style: none;}
//     figure.cover img {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         -o-object-fit: cover;
//         object-fit: cover;
//         -o-object-position: center;
//         object-position: center;
//         transition: var(--transition);
//     }
//     .container .row .col-auto .thumbnail-wrapper .graphic .obj{
//         margin-bottom: -35px;
//         margin-left: -33px;
//         left: 0;
//         bottom: 0;
//         max-width: 200px;
//         position: absolute;
//     }
//     .container:nth-child(2) .row .col-auto .thumbnail-wrapper .graphic .obj:nth-child(1){
//         margin-top: -135px;
//         margin-left: -80px;
//         right: 0;
//         top: 0;
//         max-width: 200px;
//         position: absolute;
//         z-index: 1;
//     }
//     .container:nth-child(2) .row .col-auto .thumbnail-wrapper .graphic .obj:nth-child(2){
//         margin-top: -185px;
//         margin-left: -40px;
//         right: 0;
//         top: 0;
//         max-width: 200px;
//         position: absolute;
//     }
// }